.main-nav {
  font-size: 17px;
  color: #000000;
}

.main-nav__wrapper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo {
  margin-left: auto;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__button {
  font-size: 0;
  border: none;
  background: url(../img/icon-menu-close.svg) center no-repeat;
  width: 21px;
  height: 20px;
  margin-left: auto;
  align-self: center;
}

.main-nav__delivery {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: normal;
  color: #444444;
  text-align: right;
  display: none;
}

@media (min-width: $tablet-width)  {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__wrapper  {
    width: 167px;
    order: -3;
  }

  .main-nav__logo {
    margin: 0;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper  {
    width: 167px;
    order: -2;
  }

  .main-nav__logo {
    margin: 0;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    width: 240px;
    margin-left: auto;
  }
}


