.form__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $pretty-color;
}
