.form__filter {
  @include reset-indents();
  margin-bottom: 30px;
  border: none;

  &--title {
    @include reset-indents();
    display: block;
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: $pretty-color;
  }

  &--list {
    @include reset-list();
  }

  &--option {
    margin-bottom: 10px;
    padding-left: 60px;
  }

  &--label {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
  }
}
