.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.modal-show {
  display: block;
}

.modal__overlay {
  position: fixed;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.modal__form {
  position: fixed;
  top: 25%;
  left: 0;
  z-index: 1200;
  margin: auto;
  padding: 30px;
  padding-bottom: 49px;
  width: 320px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 11px;
  width: 150px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.modal__list {
  @include reset-list();
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--input {
    display: block;
    padding: 15px 30px;
    width: 80px;
    text-align: center;
    font-size: 17px;
    line-height: 16px;
    border: 2px solid #ececec;

    &--active {
      border: 2px solid $pretty-color;
    }

    &:hover,
    &:focus {
      border-color: #c7c7c7;
    }

    &:active {
      border-color: $pretty-color;
    }
  }
}

.modal__label {
  @include reset-indents();
  margin-bottom: 25px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.button.modal__button {
  color: #ffffff;
  background-color: $pretty-color;
  border: none;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #46c1ae;
  }
}

@media (min-width: $tablet-width) {
  .modal__form {
    left: 16%;
    width: 568px;
    padding: 49px 110px;
  }

  .modal__title {
    margin-bottom: 12px;
    width: 351px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__list {
    &--input {
      padding: 16px 55px;
    }
  }

  .modal__label {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .modal__form {
    left: 30%;
    padding: 38px 110px;
    padding-bottom: 45px;
  }

  .modal__label {
    margin-bottom: 20px;
  }

  .button.modal__button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
