.main-nav {
  position: relative;
  min-height: 395px;
  margin: 0 auto;
  font-size: 17px;
  color: #000000;
}

.main-nav__logo {
  display: block;
  padding: 19px 0;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 30px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 4px 0 0 #000000, 0 8px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  top: 15px;
  right: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: -5px;
    width: 28px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__delivery {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: normal;
  color: #444444;
  text-align: right;
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    min-height: 0;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .user-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 0 50px;
    min-height: 0;
    z-index: 2;
  }

  .main-nav__toggle {
    display: none;

    &::before,
    &::after {
      display: none;
    }
  }

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .main-nav__logo {
    padding: 22px 0 13px 0;
    width: 219px;
    order: -3;
    text-align: left;
    border-bottom: none;
  }


  .main-nav__logo-image {
    width: 113px;
    height: 46px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__delivery {
    display: block;
    padding: 17px 0 15px 0;
    width: 333px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    padding: 0;
    padding-top: 10px;
    width: 230px;
    text-align: left;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__delivery {
    display: block;
    width: 280px;
    padding: 17px 0 15px 0;
    margin-left: auto;
  }
}
