.user-list {
  @include reset-list();
}

.user-list__item {
  padding: 27px 30px;
  border-bottom: 1px solid #ececec;
}

.user-list__item-search,
.user-list__item-cart {
  position: absolute;
  top: 5px;
  left: 0;
  opacity: 0.2;
}

.user-list__item-search {
  width: 18px;
  height: 18px;
}

.user-list__item-cart {
  width: 21px;
  height: 18px;
}

.user-list__item-link {
  position: relative;
  display: block;
  padding-left: 45px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 400px;
    order: -2;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .user-list__item {
    padding: 0;
    border-left: 1px solid #ececec;
    border-bottom: none;

    &--search {
      width: 84px;
    }

    &--cart {
      width: 315px;
      text-align: right;
    }
  }

  .user-list__item-search,
  .user-list__item-cart {
    top: 30px;
    left: 30px;
  }

  .user-list__item-link {
    display: block;
    padding: 30px 50px 34px 0;
    font-size: 17px;
  }

  .user-list__item-link:hover,
  .user-list__item-link:focus {
    color: rgba(0, 0, 0, 0.6);

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    &:hover .user-list__item-search,
    &:focus .user-list__item-search,
    &:hover .user-list__item-cart,
    &:focus .user-list__item-cart {
      opacity: 1;

      path {
        fill: $pretty-color;
      }
    }

    &:active .user-list__item-search,
    &:active .user-list__item-cart {
      opacity: 0.3;
    }
  }

  .user-list__item--link-visible {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 404px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
  }

  .user-list__item-link {
    padding: 30px 50px;
  }

  .user-list__item--cart {
    width: 319px;
  }

  .user-list__item-search,
  .user-list__item-cart {
    top: 35px;
  }
}
