.copyright {
  padding: 19px 38px 25px 40px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright__text {
  @include reset-indents();
  font-size: 19px;
  line-height: 18px;
  color: #000000;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: $pretty-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 183px;
    padding: 0;
  }

  .copyright__logo:hover,
  .copyright__logo:focus {
      color: #46c1ae;

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__text:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-top: 5px;
  }
}
