.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  padding: 0 30px;
}

.page-footer__logo {
  width: 102px;
  height: 34px;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 167px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    width: 175px;
  }
}
