.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  padding: 0 30px;
}

.page-footer__logo-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 50px;
  }

  .page-footer__logo {
    display: block;
    width: 180px;
  }

  .page-footer__logo-image {
    display: block;
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    width: 175px;
  }
}
