.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include reset-list();
  padding: 23px 60px;
  border-bottom: 2px solid #ececec;
}

.social__list-item {
  width: 25px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 140px;
    padding-top: 7px;
  }

  .social__list {
    padding: 0;
    border-bottom: none;
  }

  .social__list-item {
    width: 20px;
  }
}
