.form-title {
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .form-title {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-title {
    margin-bottom: 109px;
  }
}
