.order-form {
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;
}

.order-form__button {
  margin-bottom: 55px;
}

.order-form__description-slogan {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: normal;
}

.order-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 40px 14px 0;
  word-break: break-all;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $pretty-color;
  }

  &:active {
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .order-form {
    width: 100%;
    padding: 0;
  }


  .order-form__description-slogan {
    margin: 0 auto;
    width: 670px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__wrapper-input,
  .order-form__input {
    width: 500px;
  }

.order-form__input {
  &--tel,
  &--letter {
    background-color: inherit;
  }
}

  .order-form__input--tel:hover,
  .order-form__input--tel:focus,
  .order-form__input--letter:hover,
  .order-form__input--letter:focus {
    & ~ .order-form__appointment-icon {
      fill: $pretty-color;
    }
  }

  .order-form__button {
    order: -1;
    width: 230px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__description {
    width: 700px;
    margin: 0 auto;
  }

  .order-form__description-slogan {
    width: 720px;
  }

  .order-form__wrapper-input,
  .order-form__input--tel,
  .order-form__input--letter,
  .order-form__input--text {
    width: 700px;
  }

  .order-form__wrapper-input,
  .order-form__input--text {
    margin-right: 175px;
  }
}
