.order-form__appointment-list {
  @include reset-list();
  margin-bottom: 10px;
}

.order-form__appointment-sublist {
  @include reset-list();
  margin-bottom: 33px;
}

.order-form__appointment-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  & .order-form__filter-title--text {
    margin-bottom: 25px;
  }
}

.order-form__filter-title--appointment {
  margin-bottom: 12px;
}

.order-form__appointment-label {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.order-form__appointment-input--text {
  padding: 15px;
  padding-right: 70px;
  min-height: 142px;
  text-align: left;
  border: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    border-color: $pretty-color;
  }
}

.order-form__appointment-count {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__appointment-wrapper {
  position: relative;
}

.order-form__appointment-icon {
  position: absolute;
  fill: rgba(0, 0, 0, 0.3);

  &--phone {
    top: 34px;
    right: 8px;
    width: 25px;
    height: 24px;
  }

  &--letter {
    top: 34px;
    right: -6px;
    width: 42px;
    height: 32px;
  }
}

.order-form__appointment-clarification-text {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .order-form__appointment {
    padding-top: 66px;
  }

  .order-form__appointment-item {
    margin-bottom: 0;

    &--sublist,
    &--text {
      display: flex;
      justify-content: space-between;

      & .order-form__wrapper {
        padding-bottom: 47px;
      }
    }

    &:last-child {
      padding: 70px 0 43px 0;
      width: 670px;
      margin: 0 auto;
    }

    &--tel {
      background-color: #f1f1f1;
      padding-top: 69px;
    }

    &--e-mail {
      background-color: #f1f1f1;
      padding-top: 41px;
      padding-bottom: 50px;
    }
  }

  .order-form__appointment-wrapper {
    display: flex;
    justify-content: space-between;
    width: 670px;
    margin: 0 auto;
  }

  .order-form__appointment-input--text {
    margin-top: -20px;
    padding-top: 20px;
  }

  .order-form__appointment-sublist {
    width: 500px;
    margin-bottom: 0;
  }

  .order-form__appointment-count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
    padding-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .order-form__appointment-label {
    font-size: 19px;

    &--name {
      width: 55px;
    }

    &--surname,
    &--middle-name {
      width: 100px;
    }
  }

  .order-form__appointment-input {
    font-size: 19px;
    padding: 0 55px 9px 16px;;

    &--text {
      width: 500px;
      margin-top: -20px;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &--name {
      width: 428px;
    }

    &--surname,
    &--middle-name {
      width: 375px;
    }
  }

  .order-form__appointment-icon {
    &--phone {
      top: -4px;
      right: 27px;
    }

    &--letter {
      top: -6px;
      right: 13px;
    }
  }

  .order-form__appointment-clarification {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 670px;
    margin: 0 auto;

    &-text {
      margin-top: 10px;
      width: 335px;
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 0;
      text-align: right;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__appointment {
    padding-top: 64px;
  }

  .order-form__appointment-sublist {
    width: 700px;
    margin-right: 175px;
    padding-left: 8px;
    padding-top: 2px;
  }

  .order-form__appointment-input {
    padding-left: 16px;

    &--name {
      width: 621px;
    }

    &--surname,
    &--middle-name {
      width: 568px;
    }

    &--text {
      width: 700px;
    }
  }

  .order-form__appointment-wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .order-form__appointment-item {
    &:last-child {
      padding-right: 175px;
      width: 1050px;
      margin: 0 auto;
    }

    &--tel {
      padding-top: 67px;
    }
    &--e-mail {
      padding-top: 39px;
    }
  }

  .order-form__appointment-list {
    margin-bottom: 5px;
  }

  .order-form__appointment-icon {
    &--phone {
      top: -5px;
      right: 183px;
    }

    &--letter {
      top: -6px;
      right: 169px;
    }
  }

  .order-form__appointment-clarification {
    padding-left: 175px;
    padding-right: 175px;
    width: 1050px;
    margin: 0 auto;

    &-text {
      margin-top: 12px;
    }
  }

  .order-form__appointment-count {
    margin-bottom: 41px;
  }
}
