.order-form__description-slogan {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .order-form__description {
    padding: 0 50px;
  }

  .order-form__description-slogan {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__description {
    padding: 0 225px;
  }

  .form-title {
    margin-bottom: 130px;
  }
}
