.user-list {
  @include reset-list();
}


@media (min-width: $tablet-width) {
  .user-list {
    width: 350px;
    order: -2;
    margin-left: auto;
    text-align: right;;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;
    order: -2;
    text-align: right;;
    display: flex;
    flex-wrap: wrap;
  }
}
