.services__item {
  font-size: 19px;
  color: #ffffff;

  &--link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: inherit;
    color: inherit;

  &--left-btn {
    background-color: $pretty-color;
  }

  &--right-btn {
    background-color: #56c3b2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.services__item--link--left-btn:hover,
.services__item--link--left-btn:focus {
  background-color: #59d5bc;
}

.services__item--link--right-btn:hover,
.services__item--link--right-btn:focus,
.services__item--link--right-btn:active {
  background-color: #46c1ae;
}

}
