html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  font-family: $font-stack;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
