.services__list {
  @include reset-list();
}

@media (min-width: $tablet-width) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
