.promo__offer {
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 20px;
  color: $pretty-color;
  text-transform: uppercase;

  &--description {
    @include reset-indents();
    margin-bottom: 20px;
    font-weight: normal;
  }
}
