.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  padding: 40px 30px 25px 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  width: 100%;
  line-height: 30px;
  font-weight: normal;
}

.contacts__list-item {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;

    &--first-column {
      width: 80px;
    }
  }

.contacts__list-link {
  font: inherit;
  color: inherit;
  border-bottom: 2px solid $pretty-color;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  @include reset-indents();
  margin-bottom: 40px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.contacts__map-img {
  width: 322px;
  height: 457px;
}

.contacts__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 65px 50px 45px 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
  }

  .contacts__list-item {

    &--first-column {
      width: 75px;
    }
  }

  .contacts__row {
    width: 326px;
  }

  .contacts__map {
    margin: 0;

    &--tablet {
      display: block;
     }

    &--mobile {
      display: none;
    }
  }

  .contacts__map-img {
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    display: inline;
  }

  .contacts__wrapper-button {
    padding: 55px 50px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding: 145px 50px 105px 225px;
    display: flex;
  }

  .contacts__wrapper {
    padding: 0;
    width: 350px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__map {
    margin: 0;
    margin-top: -90px;

    &--desktop {
      display: block;
     }

    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .contacts__map-img {
    width: 525px;
    height: 457px;
  }

  .contacts__button {
    display: inline;
  }

  .contacts__wrapper-button {
    padding: 0;
    position: absolute;
    top: 75%;
  }
}

