.features {
  padding: 30px;
}

.features__title {
  margin-bottom: 30px;
}

.features__list {
  @include reset-list();
}

.features__list-item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding: 50px 55px 15px 50px;
  }

  .features__title {
    margin-bottom: 45px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__list-item {
    width: 327px;
    margin-bottom: 60px;

    &--present {
      order: 6;
    }

    &--heart {
      order: 5;
    }

    &--racket {
      order: 4;
    }

    &--flag {
      order: 4;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 66px 225px 15px 225px;
  }
}
