.features {
  padding: 30px;
}

.features__title {
  margin-bottom: 30px;
}

.features__list {
  @include reset-list();
}

.features__list-item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  padding-top: 55px;
  margin-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }

  &--flower::before {
    content: url("../img/icon-feature-flower.svg");
    left: 8px;
    width: 32px;
    height: 37px;
  }

  &--money::before {
    content: url("../img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
  }

  &--heart::before {
    content: url("../img/icon-feature-heart.svg");
    top: 6px;
    left: 7px;
    width: 34px;
    height: 27px;
  }

  &--ball::before {
    content: url("../img/icon-feature-ball.svg");
    top: 5px;
    left: 3px;
    width: 32px;
    height: 37px;
  }

  &--rocket::before {
    content: url("../img/icon-feature-rocket.svg");
    top: 6px;
    left: -5px;
    width: 55px;
    height: 23px;
  }

  &--gift::before {
    content: url("../img/icon-feature-gift.svg");
    top: 3px;
    left: 3px;
    width: 33px;
    height: 32px;
  }

  &path {
    fill: $pretty-color;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding: 50px 55px 15px 50px;
  }

  .features__title {
    margin-bottom: 45px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__list-item {
    width: 327px;
    margin-bottom: 60px;
    line-height: 22px;

    &--gift {
      order: 6;
    }

    &--heart {
      order: 5;
    }

    &--rocket {
      order: 4;
    }

    &--money {
      order: 4;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 66px 225px 15px 225px;
  }

  .features__list-item {
    line-height: 30px;
  }
}
