.promo {
  padding: 30px;
}

.promo__title {
  margin-bottom: 5px;
}

.promo__offer {
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 20px;
  color: $pretty-color;
  text-transform: uppercase;

  &--description {
    @include reset-indents();
    margin-bottom: 20px;
    font-weight: normal;
  }
}

.promo__list {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
  font-weight: normal;
  border-collapse: collapse;

  &--option {
    width: 95px;
  }

  &--item {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ececec;
  }
}

.promo__image {
  width: 260px;
  height: 315px;
  margin-bottom: 20px;
}

.promo__bottom {
  @include reset-indents();
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  &--price {
    margin-bottom: 25px;
    font-size: 17px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 70px 50px;
  }
}
