.promo {
  position: relative;
  padding: 27px 30px 40px 30px;
}

.promo__title {
  margin-bottom: 5px;
}

.promo__offer {
  display: block;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  color: $pretty-color;
  text-transform: uppercase;
}

.promo__offer-description {
  @include reset-indents();
  margin-bottom: 20px;
  font-weight: normal;
}

.promo__wrapper-body {
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: 1px;
    opacity: 0.6;
  }
}

.promo__list {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
  font-weight: normal;
  border-collapse: collapse;
}

.promo__list-option {
  width: 95px;
}

.promo__list-item {
  padding-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.promo__right-column {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.promo__image {
  width: 260px;
  height: 315px;
}

.promo__bottom {
  order: 2;

  @include reset-indents();
  display: flex;
  flex-direction: column;
}

.promo__bottom-price {
  margin-bottom: 25px;
  font-size: 17px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 34px 50px 75px 50px;
  }

  .promo__wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
  }

  .promo__offer {
    width: 125px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .promo__offer-description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__title {
    margin-bottom: 0;
    width: 440px;
  }

  .promo__wrapper-body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      bottom: 5px;
      background-size: auto 100%;
      background-position-x: 20px;
      height: 17px;
    }
  }

  .promo__left-column {
    width: 280px;
  }

  .promo__right-column {
    margin-bottom: 0;
    width: 334px;
  }

  .promo__bottom-price {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .promo__bottom {
    margin-bottom: 0;
    width: 290px;
    margin-top: -20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 125px 50px 100px 50px;
  }

  .promo__wrapper-header {
    position: relative;
    margin-bottom: 50px;
    justify-content: flex-start;
  }

  .promo__offer {
    margin-bottom: 0;
    padding-left: 45px;
    padding-right: 55px;
    width: 175px;
    line-height: 17px;
    text-align: center;
  }

  .promo__title {
    width: 525px;
    order: 2;
  }

  .promo__list {
    margin-bottom: 154px;
  }

  .promo__wrapper-body {
    display: flex;

    &::after {
      background-position-x: 25px;
      height: 21px;
    }
  }

  .promo__left-column {
    width: 290px;
    margin-left: 175px;
  }

  .promo__right-column {
    width: 525px;
    margin-top: -170px;
  }

  .promo__offer-description {
    width: 280px;
    margin-bottom: 48px;
  }

  .promo__price {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .promo__bottom {
    margin-bottom: 0;
    margin-left: 175px;
    margin-top: -45px;
    width: 290px;
  }
}
