.reviews__wrapper {
  position: relative;
  padding: 0 31px 50px 30px;

  &::after {
    content: "";
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position-x: 9px;
    background-size: 320px 100%;
    opacity: 0.6;
  }
}

.reviews__title {
  margin-bottom: 23px;
}

.reviews__list {
  @include reset-list();
}

.reviews__list-item {
  margin-bottom: 32px;
}

.reviews__list-text {
  @include reset-indents();
  margin-bottom: 28px;
  line-height: 30px;
  font-weight: normal;
}

.reviews__list-author-name {
  font-size: 17px;
  font-style: normal;
  color: #000000;
  margin-bottom: 10px;
}

.reviews__list-author-email {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
}

.reviews__switch {
  @include reset-indents();
  display: flex;
  margin-bottom: 38px;
}

.reviews__switch-arrow {
  width: 130px;
  min-height: 52px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  text-align: center;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
    border-left: none;
  }
}

.reviews__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding: 77px 50px 137px 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &::after {
      bottom: -10px;
      background-size: 780px 16px;
      height: 33px;
      background-repeat: repeat-x;
    }
  }

  .reviews__title {
    margin-bottom: 51px;
  }

  .reviews__list-text {
    width: 650px;
    font-size: 17px;
    margin-bottom: 57px;
  }

  .reviews__list-item {
    margin-bottom: 0;
  }

  .reviews__list-author-name {
    font-size: 18px;
    color: #000000;
    margin-bottom: 3px;
    display: block;
  }

  .reviews__list-author-email {
    display: block;
  }

  .reviews__switch {
    width: 175px;
    margin-bottom: 0;
    position: absolute;
    bottom: 26%;
    right: 6%;
  }

  .reviews__switch-arrow {
    width: 84px;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .reviews__button {
    width: 180px;
    position: absolute;
    top: 14%;
    right: 6%;
    padding-right: 21px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 0 50px;
  }

  .reviews__wrapper {
    padding: 72px 0 188px 172px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &::after {
      background-repeat: repeat-x;
      background-size: 1040px 24px;
      transform: rotate(180deg);
      bottom: 11px;
    }
  }

  .reviews__title {
    margin-bottom: 49px;
  }

  .reviews__list-text {
    margin-bottom: 38px;
    width: 750px;
    padding-left: 2px;
  }

  .reviews__switch {
    width: 170px;
    bottom: 191px;
    right: 0;
  }

  .reviews__button {
    top: 80px;
    right: 0;
    width: 175px;
    padding-left: 21px;
  }
}
