.reviews {
  margin-bottom: 30px;
  border: 20px solid transparent;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__list {
  @include reset-list();

  &--item {
    margin-bottom: 35px;
  }

  &--reviews__text {
    @include reset-indents();
    margin-bottom: 25px;
    line-height: 30px;
    font-weight: normal;
  }

  &--author-name {
    font-size: 17px;
    font-style: normal;
    color: #000000;
    margin-bottom: 15px;
  }


  &--author-email {
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 35px;
  }
}

.reviews__switch {
  @include reset-indents();
  display: flex;
  margin-bottom: 40px;

  &--left,
  &--right {
    width: 130px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 10px 40px;
  }
}

.reviews__button {
  display: block;
  margin-bottom: 35px;
}

