.services__title-wrapper {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% 18%;
  background-repeat: no-repeat;
}

.services__title {
  margin: 0 auto;
  padding-top: 71px;
  padding-bottom: 120px;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.services__item {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  color: #ffffff;
  padding: 28px 30px;

  &--left-btn {
    background-color: $pretty-color;
  }

  &--right-btn {
    background-color: #56c3b2;
  }
}

.services__item-link {
  position: relative;
  display: block;
  width: 130px;
  font-size: inherit;
  color: inherit;
}

.services__item-toy,
.services__item-lamp {
  position: absolute;
  top: -5px;
  left: 168px;
  width: 130px;
  text-align: right;
  opacity: 0.5;

  path {
    fill: #149080;
  }
}

@media (min-width: $tablet-width) {
  .services {
    position: relative;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;

    &::after {
      content: "";
      height: 23px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 100%;
    }
  }

  .services__title-wrapper {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    margin-top: -60px;
    border-top: 1px solid #ececec;
  }

  .services__title {
    width: 510px;
    padding-top: 153px;
    padding-bottom: 374px;
    font-size: 43px;
    line-height: 50px;
  }

  .services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .services__item {
    flex-grow: 1;
    width: 334px;
    padding: 27px 37px 46px 37px;
    font-size: 20px;
    line-height: 30px;
  }

  .services__item-lamp {
    top: 2px;
    left: 175px;
  }

  .services__item-toy {
    top: 2px;
    left: 168px;
  }

  .services__item-link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .services__item--left-btn:hover,
  .services__item--left-btn:focus,
  .services__item--left-btn:active {
    background-color: #59d5bc;
    transform: translate(0, -5px);
  }

  .services__item--right-btn:hover,
  .services__item--right-btn:focus,
  .services__item--right-btn:active {
    background-color: #46c1ae;
    transform: translate(0, -5px);
  }

  .services__item--left-btn:hover .services__item-link,
  .services__item--left-btn:focus .services__item-link,
  .services__item--right-btn:hover .services__item-link,
  .services__item--right-btn:focus .services__item-link {
    bottom: 5px;
  }

  .services__item-lamp:hover,
  .services__item-lamp:focus,
  .services__item-toy:hover,
  .services__item-toy:focus {
    opacity: 0.7;

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .services::after {
    height: 37px;
    bottom: -17px;
    background-position-x: 10px;
  }

.services__title-wrapper {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-color: #f9f9f9;
    margin-top: -68px;


  }

  .services__title {
    width: 700px;
    padding-top: 153px;
    padding-bottom: 360px;
    font-size: 53px;
    line-height: 57px;
  }

  .services__item {
    width: 525px;
    padding-bottom: 30px;
  }

  .services__item-lamp {
    left: 367px;
  }

  .services__item-toy {
    top: 4px;
    left: 358px;
  }
}
