.title-catalog {
  margin: 0;
  font-size: 17px;
  color: #000000;
}

.catalog__title {
  margin-bottom: 5px;
  width: 193px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__price {
  position: relative;
  padding-top: 20px;
  padding-bottom: 28px;
  border-top: 1px solid #ececec;
}

.catalog__numb {
  color: #000000;
}

.catalog__list {
  @include reset-list();
  padding: 0 30px;
  margin-bottom: 30px;
}

.catalog__item {
  margin-bottom: 29px;
  border: 1px solid #ececec;
}

.catalog__info {
  padding-left: 28px;
  padding-right: 28px;
}

.catalog__item-image {
  margin-bottom: 21px;
}

.catalog__image {
  background-color: #f1f1f1;
}

.catalog__description {
  @include reset-indents();

  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
}

.catalog__modal {
  position: absolute;
  top: 20px;
  right: -9px;
  opacity: 0.2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__cart {
  width: 21px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .title-catalog {
    width: 208px;
    font-size: 20px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__list {
    padding: 0 50px;
  }

  .catalog__title {
    margin-bottom: 8px;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 51px;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    &:last-child .catalog__description {
      margin-bottom: 130px;
    }
  }

  .catalog__item-image {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .catalog__info {
    width: 334px;
    padding: 24px;
    padding-left: 27px;
    padding-bottom: 0;
  }

  .catalog__modal {
    top: 24px;
    right: 0;

    &:hover,
    &:focus {
      opacity: 1;
      fill: $pretty-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__description {
    margin-bottom: 154px;
    font-size: 17px;
  }

  .catalog__price {
    padding: 24px 0 20px 5px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }

  .catalog__title {
    margin-bottom: 5px;
  }

  .catalog__description {
    width: 259px;
    font-size: 15px;
    margin-bottom: 18px;
  }

  .catalog__item {
    display: block;
    width: 315px;
    margin-bottom: 0;

    &:last-child .catalog__description {
      margin-bottom: 0;
      padding-bottom: 12px;
    }
  }

  .catalog__item-image {
    width: 315px;
    min-height: 465px;
  }

  .catalog__info {
    width: 315px;
    padding-top: 23px;
    padding-left: 26px;
    padding-bottom: 24px;
  }

  .catalog__price {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 17px;
  }

  .catalog__cart {
    top: 23px;
    right: 10px;
  }
}
