.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 72px;
  padding-bottom: 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #231f20;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    margin-top: -60px;
  }

  .page-main__title {
    position: relative;
    margin-bottom: 64px;
    padding: 94px 75px;
    font-size: 43px;
    line-height: 50px;
    border-top: 1px solid #ececec;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      width: 100%;
      height: 22px;
      background-size: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    margin-top: -62px;
  }

  .page-main__title {
    margin-bottom: 115px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 94px;
    padding-bottom: 116px;

    &::after {
    height: 50px;
    bottom: -19px;
    background-repeat: repeat-x;
    background-size: 1149px;
    }
  }
}
