.video-preview {
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #ececec;
}

.video-preview__title {
  width: 130px;
  padding-left: 90px;
  margin-bottom: 25px;
  text-align: center;
}

.video-preview__resource {
  width: 260px;
  height: 150px;
  margin-bottom: 30px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.video-preview__info {
  padding-left: 10px;
}

.video-preview__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .video-preview {
    display: flex;
    flex-direction: column;
  }

  .video-preview__resource {
    &--tablet {
      order: -1;
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  .video-preview__title {
    width: 250px;
    padding-left: 105px;
  }
}

@media (min-width: $desktop-width) {
  .video-preview__resource {
    &--desktop {
      display: none;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
