.video-preview {
  margin: 0 30px;
}

.video-preview__wrapper {
  margin-bottom: 60px;
  padding-top: 25px;
  border: 1px solid #ececec;
}

.video-preview__title {
  position: relative;
  width: 130px;
  padding-left: 90px;
  margin-bottom: 25px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 28px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;

    path{
      fill: $pretty-color;
    }
  }
}

.video-preview__resource-image {
  width: 260px;
  height: 150px;
  margin-bottom: 30px;
}

.video-preview__resource {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101px;
    height: 77px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.video-preview__info {
  padding: 0 34px;
}

.video-preview__description {
  @include reset-indents();

  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: normal;
}

.video-preview__button {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .video-preview {
    padding: 0 50px;
  }

  .video-preview__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .video-preview__resource {
    order: -1;
    margin-bottom: 30px;
  }

  .video-preview__resource:hover::before,
  .video-preview__resource:focus::before {
    transform: scale(1.2);
  }

  .video-preview__resource:active {
    transform: scale(0.8);
    opacity: 0.3;
  }

  .video-preview__title {
    width: 350px;
    padding-left: 105px;
    margin-bottom: 35px;
    font-size: 20px;

    &::before {
      top: -4px;
      left: 43px;
    }
  }

  .video-preview__description {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .video-preview__info {
    padding: 0 43px;
  }

  .video-preview__button {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .video-preview__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .video-preview__title {
    position: absolute;
    right: 120px;
    top: 100px;
    padding: 0;
    width: 160px;
    text-align: left;

    &::before {
      top: -50px;
      left: 0;
    }
  }

  .video-preview__resource {
    width: 680px;
    margin-bottom: 0;
  }

  .video-preview__description {
    padding: 0;
  }

  .video-preview__info {
    width: 350px;
    padding: 180px 60px 60px 60px;
  }

}
