.video-preview {
  padding: 0 30px;
}

.video-preview__wrapper {
  margin-bottom: 57px;
  padding-top: 22px;
  border: 1px solid #ececec;
}

.video-preview__title {
  @include reset-indents();
  padding-left: 90px;
  padding-right: 40px;
  margin-bottom: 24px;
  font-size: 17px;
  text-align: left;
}

.video-preview__wrapper-header {
  position: relative;
}

.video-preview__icon {
  position: absolute;
  top: 4px;
  left: 33px;
  width: 32px;
  height: 32px;
  fill: $pretty-color;
}

.video-preview__resource-image {
  margin-bottom: 22px;
}

.video-preview__resource {
  position: relative;
}

.video-preview__resource-button {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 101px;
  height: 77px;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video-preview__info {
  padding: 0 32px;
}

.video-preview__description {
  @include reset-indents();

  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: normal;
}

.video-preview__button {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .video-preview {
    padding: 0 50px;
  }

  .video-preview__wrapper {
    margin-bottom: 63px;
    padding: 0;
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .video-preview__resource {
    order: -1;
    margin-bottom: 12px;
    min-height: 455px;
  }

  .video-preview__title {
    padding-left: 106px;
    margin-bottom: 33px;
    font-size: 20px;
  }

  .video-preview__icon {
    top: -6px;
    left: 41px;
  }

  .video-preview__description {
    padding-right: 0px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .video-preview__info {
    padding: 0 40px;
  }

  .video-preview__button {
    margin-bottom: 44px;
  }

  .video-preview__resource-button {
    top: 47%;
  }
}

@media (min-width: $desktop-width) {
  .video-preview__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 103px;
  }

  .video-preview__title {
    position: absolute;
    left: 70px;
    top: 95px;
    padding: 0;
    width: 160px;
    text-align: left;

    &::before {
      top: -50px;
      left: 0;
    }
  }

  .video-preview__icon {
    top: 45px;
    left: 73px;
  }

  .video-preview__resource {
    width: 680px;
    margin-bottom: 0;
  }

  .video-preview__resource-image {
    margin-bottom: 0;
    vertical-align: bottom;
  }

  .video-preview__resource-button {
    top: 50%;
  }

  .video-preview__button {
    margin-bottom: 0;
  }

  .video-preview__description {
    padding: 0;
    margin-bottom: 45px;
  }

  .video-preview__info {
    width: 350px;
    padding: 177px 57px 0 62px;
  }
}
